@import url("https://fonts.googleapis.com/css?family=Play");
h1, h2, h3, h4, h5 {
  padding: 0px;
  margin: 0px;
  border: 0px;
  border-radius: 0px;
  border-color: transparent;
  background-color: transparent;
  font-family: "Play", sans-serif; }

button,
.btn {
  padding: 0px;
  margin: 0px;
  border: 0px;
  border-radius: 0px;
  border-color: transparent;
  background-color: transparent;
  background: red;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#28aae1, #1b1464);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#28aae1, #1b1464);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#28aae1, #1b1464);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#28aae1, #1b1464);
  /* Standard syntax */
  background-size: 100%;
  cursor: pointer;
  color: #ffffff;
  display: inline-block;
  font-size: 1em;
  padding: 1rem 1.5rem;
  position: relative;
  z-index: 100; }
  button:before,
  .btn:before {
    background: red;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#0e4962, #100c3a);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0e4962, #100c3a);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0e4962, #100c3a);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0e4962, #100c3a);
    /* Standard syntax */
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    z-index: -100;
    transition: opacity 0.45s; }
  button:hover,
  .btn:hover {
    color: #ffffff; }
    button:hover:before,
    .btn:hover:before {
      opacity: 1; }

peek-main-title {
  position: absolute;
  width: 100%;
  z-index: 999; }
  peek-main-title > .container-fluid {
    background-color: #ffffff;
    height: 40px;
    box-shadow: 2px 3px 14px rgba(0, 0, 0, 0.18);
    text-transform: uppercase;
    padding-right: 0px;
    padding-left: 0px; }
  peek-main-title .btn {
    text-transform: uppercase;
    height: 40px;
    background-color: #28aae1;
    font-size: 0.8em;
    line-height: 12px;
    padding: 8px;
    width: 100%; }
  peek-main-title .btn-group {
    width: 100%; }
    peek-main-title .btn-group > .btn {
      width: 50%; }
      peek-main-title .btn-group > .btn:first-child {
        border-left: 1px solid #1b1464; }
  peek-main-title .menu-bar {
    display: table;
    width: 100%;
    table-layout: fixed; }
    peek-main-title .menu-bar > div {
      display: table-cell; }
    peek-main-title .menu-bar .left {
      background-color: red;
      width: 60px; }
    peek-main-title .menu-bar .right {
      background-color: red;
      width: 115px; }
    peek-main-title .menu-bar .menu-title h2 {
      font-size: 0.8em;
      height: 40px;
      line-height: 40px;
      padding: 0px 15px;
      overflow: hidden;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }

peek-main-home > .container-fluid {
  padding-top: 45px;
  padding-bottom: 55px; }
  peek-main-home > .container-fluid > .row {
    margin-right: -10px;
    margin-left: -10px; }

peek-main-home .home-icon {
  padding: 5px; }
  peek-main-home .home-icon a {
    display: block;
    background-image: url("../images/button_home_background.png");
    background-repeat: repeat;
    padding: 15px;
    border-radius: 6px;
    color: #ffffff;
    text-transform: capitalize;
    font-size: 1.1em;
    box-shadow: 2px 3px 14px rgba(0, 0, 0, 0.18);
    transition: 0.45s; }
    peek-main-home .home-icon a img {
      padding: 15px 30px; }
    peek-main-home .home-icon a:hover {
      text-decoration: none;
      box-shadow: 0px 0px 0px transparent; }

peek-main-footer {
  position: absolute;
  width: 100%;
  bottom: 0px; }
  peek-main-footer > div {
    background-color: #ffffff;
    text-transform: uppercase;
    box-shadow: 2px 3px 14px rgba(0, 0, 0, 0.18); }
    peek-main-footer > div h2 {
      font-size: 0.8em;
      height: 40px;
      line-height: 40px;
      overflow: hidden;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }

body,
html {
  font-size: 16px;
  background-color: #fafafa;
  color: #4d4c4c;
  background: red;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#28aae1, #1b1464);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#28aae1, #1b1464);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#28aae1, #1b1464);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#28aae1, #1b1464);
  /* Standard syntax */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  background-image: url("../images/home_background.png");
  background-repeat: no-repeat;
  background-size: cover; }

img {
  width: 100%; }

*:focus {
  outline: none !important; }
