@import url("https://fonts.googleapis.com/css?family=Play");
h1, h2, h3, h4, h5 {
  padding: 0px;
  margin: 0px;
  border: 0px;
  border-radius: 0px;
  border-color: transparent;
  background-color: transparent;
  font-family: "Play", sans-serif; }

h1 {
  margin-bottom: 30px;
  padding: 30px 0px 0px 0px; }
  h1:after {
    content: "";
    display: block;
    height: 1px;
    width: 15%;
    border-bottom: 3px solid #26abe2;
    padding-bottom: 15px; }

.text-center h1:after {
  margin: 0px auto; }

button,
.btn {
  padding: 0px;
  margin: 0px;
  border: 0px;
  border-radius: 0px;
  border-color: transparent;
  background-color: transparent;
  background: red;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#28aae1, #1a8cbc);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#28aae1, #1a8cbc);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#28aae1, #1a8cbc);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#28aae1, #1a8cbc);
  /* Standard syntax */
  color: #ffffff;
  font-size: 1em;
  font-family: "Play", sans-serif;
  text-transform: uppercase;
  background-size: 100%;
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  position: relative;
  z-index: 100; }
  button:before,
  .btn:before {
    background: red;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#0e4962, #146a8f);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0e4962, #146a8f);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0e4962, #146a8f);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0e4962, #146a8f);
    /* Standard syntax */
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    z-index: -100;
    transition: opacity 0.45s; }
  button:hover,
  .btn:hover {
    color: #ffffff; }
    button:hover:before,
    .btn:hover:before {
      opacity: 1; }
  button:focus, button:visited,
  .btn:focus,
  .btn:visited {
    color: #ffffff; }

.btn-group > .btn:first-child {
  border-right: 1px solid #1a8cbc; }

.btn-group .btn + .btn {
  margin-left: 0px; }

peek-main-title {
  position: fixed;
  width: 100%;
  z-index: 999; }
  peek-main-title > .container-fluid {
    background-color: #ffffff;
    height: 40px;
    box-shadow: 2px 3px 14px rgba(0, 0, 0, 0.35);
    text-transform: uppercase;
    padding-right: 0px;
    padding-left: 0px; }
  peek-main-title .btn {
    text-transform: uppercase;
    height: 40px;
    background-color: #28aae1;
    font-size: 0.8em;
    line-height: 12px;
    padding: 8px;
    width: 100%;
    font-family: "Play", sans-serif; }
  peek-main-title .btn-group {
    width: 100%; }
    peek-main-title .btn-group > .btn {
      width: 50%; }
  peek-main-title .menu-bar {
    display: table;
    width: 100%;
    table-layout: fixed; }
    peek-main-title .menu-bar > div {
      display: table-cell; }
    peek-main-title .menu-bar .left {
      width: 60px; }
    peek-main-title .menu-bar .right {
      text-align: right;
      width: 115px; }
    peek-main-title .menu-bar .menu-title h2 {
      font-size: 0.8em;
      height: 40px;
      line-height: 40px;
      padding: 0px 15px;
      overflow: hidden;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }

.nav {
  margin: 0px; }
  .nav.nav-tabs {
    border-bottom: 0px solid #28aae1; }
    .nav.nav-tabs > li {
      margin-bottom: 0px; }
      .nav.nav-tabs > li.active > a {
        border-radius: 0px 0px 0 0;
        background: red;
        /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(#28aae1, #1a8cbc);
        /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#28aae1, #1a8cbc);
        /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#28aae1, #1a8cbc);
        /* For Firefox 3.6 to 15 */
        background: linear-gradient(#28aae1, #1a8cbc);
        /* Standard syntax */
        color: #ffffff;
        font-size: 1em;
        font-family: "Play", sans-serif;
        text-transform: uppercase;
        border-color: #28aae1;
        border: 0px;
        font-size: 0.8em;
        padding: 12px;
        margin-top: 0px; }
      .nav.nav-tabs > li > a {
        font-family: "Play", sans-serif;
        text-transform: uppercase;
        color: #666666;
        font-size: 0.8em;
        border: 0px;
        margin-right: 0px;
        margin-top: 10px;
        border-radius: 0px 0px 0 0;
        background-color: #eee;
        padding: 10px;
        margin-top: 4px; }

peek-information .navigation-information {
  border-bottom: 2px solid #28aae1; }
  peek-information .navigation-information .form-group {
    padding-top: 0px;
    margin-bottom: 0px; }

peek-information .form-group {
  margin-bottom: 0px;
  padding-bottom: 15px;
  padding-top: 15px; }

.table > thead > tr > th,
table > thead > tr > th {
  background-color: #28aae1;
  color: #ffffff;
  font-family: "Play", sans-serif;
  border-bottom: 0px;
  font-size: 1.2em; }

.home-page {
  background-image: url("../images/home_background.png");
  background-repeat: no-repeat;
  background-color: #fafafa;
  background-repeat: no-repeat;
  background-size: cover; }

peek-main-home > .container-fluid {
  padding-top: 45px;
  padding-bottom: 55px; }
  peek-main-home > .container-fluid > .row {
    margin-right: -10px;
    margin-left: -10px; }

peek-main-home .home-icon {
  padding: 5px;
  font-family: "Play", sans-serif; }
  peek-main-home .home-icon a {
    display: block;
    background-image: url("../images/button_home_background.png");
    background-repeat: repeat;
    padding: 15px;
    border-radius: 6px;
    color: #ffffff;
    text-transform: capitalize;
    font-size: 1.1em;
    box-shadow: 2px 3px 14px rgba(0, 0, 0, 0.35);
    transition: 0.45s; }
    peek-main-home .home-icon a img {
      padding: 15px 30px; }
    peek-main-home .home-icon a:hover {
      text-decoration: none;
      box-shadow: 0px 0px 0px transparent; }

peek-main-footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  z-index: 999; }
  peek-main-footer > div {
    background-color: #ffffff;
    box-shadow: 2px 3px 14px rgba(0, 0, 0, 0.35); }
    peek-main-footer > div h2 {
      font-size: 0.8em;
      height: 40px;
      line-height: 40px;
      overflow: hidden;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }

peek-information > .container-fluid {
  padding-top: 55px;
  padding-bottom: 55px; }
  peek-information > .container-fluid > .row {
    margin-right: -15px;
    margin-left: -15px; }

peek-information .glyphicon.large {
  font-size: 6em;
  padding: 0.5em;
  border-radius: 50%;
  overflow: hidden;
  color: #ffffff;
  background-image: url("../images/home_background.png");
  background-size: 400%;
  background-position: top center;
  box-shadow: inset 2px 3px 24px rgba(0, 0, 0, 0.55); }

.tab-content {
  border-top: 1px solid #28aae1; }

.tab-pane .table > tbody > tr > td {
  border-top: 0px;
  border-bottom: 1px solid #28aae1;
  position: relative;
  padding: 15px 15px 15px 0px; }

.tab-pane .icon {
  position: absolute;
  width: 45px;
  height: 100%;
  left: 0px;
  top: 0px;
  padding: 15px 0px 15px 15px;
  font-size: 1.3em; }
  .tab-pane .icon .glyphicon {
    color: #28aae1;
    padding-right: 5px; }

.tab-pane .activity {
  margin-right: 10px;
  margin-left: 45px;
  font-size: 0.9rem; }
  .tab-pane .activity .time {
    font-size: 0.7rem;
    border-bottom: 1px solid #cccccc;
    padding: 5px 0px;
    margin-bottom: 5px; }
  .tab-pane .activity button {
    font-size: 0.8em;
    padding: 5px;
    margin-right: 0px; }

.tab-pane .read-more {
  position: absolute;
  background-color: #cccccc;
  font-size: 0.6em;
  width: 20px;
  right: 0px;
  top: 0px;
  height: 100%;
  background-image: url("../images/icon_more.png");
  background-position: center center;
  background-size: 100% auto;
  background-repeat: no-repeat; }
  .tab-pane .read-more:hover {
    background-color: #28aae1;
    cursor: pointer; }

body,
html {
  font-size: 16px;
  color: #4d4c4c;
  height: 100%;
  font-family: "Play", sans-serif; }

img {
  max-width: 100%; }

ul,
li {
  text-align: left;
  list-style: none;
  padding: 0px;
  margin: 0px; }

ul {
  margin: 15px 0px; }

hr {
  margin-top: 0px;
  margin-bottom: 0px; }

*:focus {
  outline: none !important; }
