//plugin
.plugin-active-task{

  //adjusting for fixed header and footer
  >.container-fluid{
    padding-top: $navigation_header_height + $general_padding;
    padding-bottom: $navigation_header_height + $general_padding;

    > .row{
      margin-right: -15px;
      margin-left: -15px;
    }

  }
}

//tasks
.plugin-active-task-task-list{

  .td{
    border-top: 0px;
    border-bottom: 1px solid darken($grey,20%);
    position: relative;
    padding: $general_padding ($general_padding+5) $general_padding 0px;
  }

  .task-icon{
    position: absolute;
    width: 45px;
    height: 100%;
    left: 0px;
    top: 0px;
    padding: $general_padding 0px $general_padding $general_padding;
    font-size: 1.3em;

    .fa{
      color: $brand;
      padding-right: $general_padding - 10px;
    }

  }

  .task-activity{

    margin-right: 10px;
    margin-left: 45px;
    font-size: 0.9rem;

    .task-tite{
      padding-bottom: $general_padding - 5px;
      color: $black;
      font-size: 1.1rem;
    }

    .task-time{
      font-size: 0.7rem;
      float: right;
      padding: 5px 0px;
      margin-bottom: 5px;
      display: block;
    }

    .task-buttons{
      border-top: 1px solid $grey;
      display: block;
      overflow: hidden;
      width: 100%;
    }

    .btn{
      font-size: 0.9em;
      padding: $general_padding - 5px;
      margin: 5px 0px 5px 0px;
      background-image: none;
      background-color: darken($grey,10%);

      &:before {
        background-image: none;
        background-color: darken($grey,30%);
      }

      &:hover{
        background-image: none;
        background-color: darken($grey,10%);

      }

    }

  }

  .task-read-more{
    position: absolute;
    background-color: $grey;
    font-size: 0.6em;
    width: 20px;
    right:0px;
    top:0px;
    height: 100%;
    background-image: url('../images/icon_more.png');
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;

    &:hover{
      background-color: $brand;
      cursor: pointer;
    }

  }

}

//plugin activity task list
.plugin-active-task-activity-list{

  .td{
    border-top: 0px;
    border-bottom: 1px solid darken($grey,20%);
    position: relative;
    padding: $general_padding ($general_padding*2) $general_padding $general_padding;
  }

  .activity-tite{
    padding-bottom: $general_padding - 5px;
    color: $black;
    font-size: 1.1rem;
  }

  .activity-time{
    font-size: 0.7rem;
    float: right;
    padding: 5px 0px;
    margin-bottom: 5px;
    display: block;
  }

  .activity-buttons{
    border-top: 1px solid $grey;
    display: block;
    overflow: hidden;
    width: 100%;
  }

  .task-read-more{
    position: absolute;
    background-color: $grey;
    font-size: 0.6em;
    width: 20px;
    right:0px;
    top:0px;
    height: 100%;
    background-image: url('../images/icon_more.png');
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;

    &:hover{
      background-color: $brand;
      cursor: pointer;
    }

  }

}
