.plugin-chat-chat-list{

  >.container-fluid{
    padding-top: $navigation_header_height + $general_padding;
    padding-bottom: $navigation_header_height + $general_padding;

    > .row{
      margin-right: -15px;
      margin-left: -15px;
    }

  }

  .well{
    padding: ($general_padding - 5px) 0px;
    margin-bottom: $general_padding;
    font-size: 1.2em;
    overflow: hidden;
  }

  .fa{
      color: darken($grey,10%);
      float: right;
      font-size: 1.5em;
  }



}
