peek-main-home{

  //adjusting for fixed header and footer
  >.container-fluid{
    padding-top: $navigation_header_height + 5px;
    padding-bottom: $navigation_header_height + $general_padding;

  }

  //home page buttons

  .home-icon{

      padding: 5px;

    a{
      display: block;
      background-image: url("../images/button_home_background.png");
      background-repeat: repeat;
      padding: $general_padding;
      border-radius: $general_border_radius + 2px;
      color: $white;
      text-transform: capitalize;
      font-size: 1.1em;
      @include box-shadow;
      transition: 0.45s;

      img{
        padding: $general_padding ($general_padding*2);
      }

      &:hover{
          text-decoration: none;
          @include no-shadow;
      }

    }

  }

}
