// Main top navigation
peek-main-title{

  $section_font_size: 0.8em;
  position: fixed;
  width: 100%;
  z-index: 999;

  > .container-fluid{
    background-color: $white;
    height: $navigation_header_height;// main header height being set
    @include box-shadow;
    text-transform: $font_transform;
    padding-right: 0px;
    padding-left: 0px;

  }

  //normal button
  .btn{
    text-transform: $font_transform;
    height: $navigation_header_height; //setting height to default header naviation height
    background-color: $brand;
    font-size:$section_font_size;
    line-height: $general_font_size - 4px;
    padding:8px;
    width: 100%;
    font-family: $fonts_special;
  }

  //button group
  .btn-group{
    width: 100%;
    padding: 0px;
    &>.btn{
        width: 50%;

        &:first-child,
        &:last-child{
          border-radius: 0px;
        }

    }

  }

  .menu-bar{

    display: table;
    width: 100%;
    table-layout: fixed;

    & > div{
      display: table-cell;
    }

    .menu-bar-left{
      width: 60px;
    }

    .menu-bar-right{
      text-align: right;
      width: 115px;
    }

    .menu-title{

      h2{
        font-size :$section_font_size;
        height: $navigation_header_height; //setting height to default header naviation height
        line-height: $navigation_header_height; // line height to bring text in center of header navigation
        padding: 0px $general_padding;
        overflow: hidden;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

    }

  }
}

//navigation tabs
.nav{

  $section_font_size: 0.8em;
  margin: 0px;

  &.nav-tabs{
    border-bottom: 0px solid $brand;

    & > li {
      margin-bottom: 0px;

      &.active{
        & > a{
          border-radius: 0px 0px 0 0;
          @include button-settings;
          background-image:none;
          background: darken($grey,20%);
          border-color: $brand;
          border: 0px;
          font-size:$section_font_size;
          padding: 12px;
          margin-top: 0px;
        }
      }

      & > a{
        font-family: $fonts_special;
        text-transform: $font_transform;
        color: lighten($font_colour_default,10%);
        font-size:$section_font_size;
        border: 0px;
        margin-right: 0px;
        margin-top: 10px;
        border-radius: 0px 0px 0 0;
        background-color: #eee;
        padding: 10px;
        margin-top: 4px
      }

    }



  }
}
