button,
.btn{

  @include nuke;
  @include button-settings;
  background-size: 100%;
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  position: relative;
  z-index: 100;

  &:before {
    @include gradient-linear(darken($brand,30%),darken($brand_compliment,10%) );
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
    width: 100%;
    z-index: -100;
    transition: opacity 0.45s;
  }

  &:hover {
    color: $white;
    &:before {
      opacity: 1;
    }
  }

  &:focus,
  &:visited{
    color: $white;
  }

}


//button groups
.btn-group{
  &>.btn{
    &:first-child{
      border-right: 1px solid $brand_compliment;
    }

  }
  .btn+.btn{
    margin-left: 0px;
  }
}
