peek-information{

  .navigation-information{
    border-bottom: 2px solid $brand;

    .form-group{
      padding-top: 0px;
      margin-bottom: 0px;
    }

  }

  .form-group{
    margin-bottom: 0px;
    padding-bottom: $general_padding;
    padding-top: $general_padding;
  }

}
