// Main top navigation
peek-main-title{

  $section_font_size: 0.8em;
  position: absolute;
  width: 100%;
  z-index: 999;

  > .container-fluid{
    background-color: $white;
    height: $navigation_header_height;// main header height being set
    @include box-shadow;
    text-transform: $font_transform;
    padding-right: 0px;
    padding-left: 0px;
    overflow: hidden;
  }

  h2{
    font-size :$section_font_size;
    height: $navigation_header_height; //setting height to default header naviation height
    line-height: $navigation_header_height; // line height to bring text in center of header navigation
  }

  //normal button
  .btn{
    text-transform: $font_transform;
    height: $navigation_header_height; //setting height to default header naviation height
    background-color: red;
    font-size:$section_font_size;
    line-height: $general_font_size - 4px;
    padding:8px;
  }
  //button group

  .btn-group{
    &>.btn{
      &:first-child{
        border-left: 1px solid $brand_compliment;
      }
    }
  }

}
