//colours
$grey: #cccccc;
$white: #ffffff;
$black: #000000;
$brand: #28aae1;
$brand_compliment: darken(#28aae1, 10%);
$primary: #337ab7;
$light_primary: lighten($primary, 45%);
$dark_primary: darken($primary, 10%);
$success: #5cb85c;
$light_success: lighten($success, 35%);
$dark_success: darken($success, 10%);
$info: #5bc0de;
$light_info: lighten($info, 35%);
$dark_info: darken($info, 10%);
$warning: #f0ad4e;
$light_warning: lighten($warning, 35%);
$dark_warning: darken($warning, 10%);
$danger: #d9534f;
$light_danger: lighten($danger, 35%);
$dark_danger: darken($danger, 10%);

//general
$general_font_size: 12pt;
$general_background_color: lighten($grey, 18%);
$general_padding: 12pt;
$general_border_radius: 3pt;
$general_padding_nav_bar: 48pt;
$general_header_background: darken($grey, 20%);
$general_button_background: darken($grey, 20%);
$general_button_background_hover: darken($grey, 35%);
$general_button_background_disabled: lighten($grey, 15%);
$general_icon_color: darken($grey, 10%);

//colour
$general_text: $black;

//fonts
$fonts_special: arial;
$font_transform: uppercase;
$font_colour_default: darken($grey, 40%);
$font_colour_disabled: lighten($grey, 5%);
$font_colour_information: $black;
$font_colour_button: $white;

//header
$navigation_header_height: 45pt;

//button
$inbox_button_background: darken($grey, 10%);
$general_button_divider: darken($grey, 35%);

//image asset locations
$ns_assets: "";
$web_images: "";
