//colours
$grey: #cccccc;
$white: #ffffff;
$black: #000000;
$brand: #28aae1;
$brand_compliment: darken(#28aae1, 10%);
$divider_colour_navigation_section: $grey;
$primary: #337ab7;
$light_primary: lighten($primary, 45%);
$dark_primary: darken($primary, 10%);
$success: #5cb85c;
$light_success: lighten($success, 35%);
$dark_success: darken($success, 10%);
$info: #5bc0de;
$light_info: lighten($info, 35%);
$dark_info: darken($info, 10%);
$warning: #f0ad4e;
$light_warning: lighten($warning, 35%);
$dark_warning: darken($warning, 10%);
$danger: #d9534f;
$light_danger: lighten($danger, 35%);
$dark_danger: darken($danger, 10%);

//general
$general_border: 1.3px;
$general_border_radius: 4px;
$general_button_padding: 8px;
$general_button_min_width: 40px;
$general_line_height: 1.42857143;
$general_background_color: lighten($grey, 18%);
$general_header_background: darken($grey, 20%);
$general_button_background: darken($grey, 20%);
$general_button_background_hover: darken($grey, 35%);
$general_button_background_disabled: lighten($grey, 15%);
$general_icon_color: darken($grey, 10%);

$general_width_1: 100px;
$general_width_2: 250px;

$general_font_size_1: 12.8px;
$general_font_size_2: 14.4px;
$general_font_size_3: 16px;
$general_font_size_4: 20px;
$general_font_size_5: 24px;
$general_font_size_6: 32px;
$general_font_size_7: 48px;

$general_height_1: 34.4px;
$general_height_2: 56px;
$general_height_3: 77.28px;

$general_padding_1: 8px;
$general_padding_2: 16px;
$general_padding_3: 20px;
$general_padding_4: 32px;
$general_padding_5: 64px;

$general_margin_1: 16px;
$general_margin_2: 20px;
$general_margin_3: 32px;
$general_margin_4: 64px;

//fonts
$fonts_special: arial;
$font_colour_data: $black;
$font_colour_information: darken($grey, 40%);
$font_colour_disabled: lighten($grey, 5%);
$font_colour_button: $white;

//title bar
$title_bar_height: 60px;
$title_bar_button_min_width: 66.7px;
$title_bar_padding: 10.7px;

//footer bar
$mobile_footer_bar_height: 40px;
$mobile_footer_bar_button_min_width: 40px;
$mobile_footer_bar_padding: 10.7px;


//nav bar
$nav_bar_padding_top: 64px;

//button
$inbox_button_background: darken($grey, 10%);
$general_button_divider: darken($grey, 35%);

//hr
$hr_height: 1.3px;

//home screen
$home_screen_image_padding: 40px;

//inbox
$inbox_date_time_margin: 5px;
$inbox_date_time_padding: 5px;
$inbox_nav_tabs_padding_active: 12px;
$inbox_nav_tabs_padding: 10px;
$inbox_nav_tabs_margin: 4px;

//chat
$chat_messages_margin: 6.7px;
$chat_messages_min_height: 1.3px;

//mobile dialog
$mobile_dialog_btn_block_margin: 6.7px;

//image asset locations
$ns_assets: "~/assets/";
$web_images: "~@synerty/peek-theme/images/";
