//colours
$grey: #cccccc;
$white: #ffffff;
$black :#000000;
$brand : #28aae1;
$brand_compliment: darken(#28aae1,10%);
$green: #dff0d8;
$red: #f2dede;


//general
$general_font_size: 12pt;
$general_background_color: lighten($grey,18%);
$general_padding :12pt;
$general_border_radius: 3pt;
$general_padding_nav_bar: 48pt;
$general_header_background: darken($grey, 20%);
$general_button_background: darken($grey, 20%);
$general_button_background_hover: darken($grey, 35%);
$general_button_background_disabled: darken($grey,5%);
$general_icon_color: darken($grey, 10%);

//colour
$general_text: $black;

//fonts
$fonts_special: arial;
$font_transform: uppercase;
$font_colour_default: darken($grey, 40%);
$font_colour_disabled: darken($grey, 25%);
$font_colour_information: $black;
$font_colour_button: $white;

//header
$navigation_header_height: 30pt;

//button
$inbox_button_background: darken($grey, 10%);
$general_button_divider: darken($grey, 35%);

//image asset locations
$ns_assets: "";
$web_images: "";
