$ppi_multiplier: 1 !default;

//colours
$grey: #9e9e9e;
$white: #ffffff;
$black: #000000;
$brand: #26abe2;
$brand_light: #6eddff;
$brand_dark: #007cb0;
$secondary: #9e9e9e;
$secondary_light: #cfcfcf;
$secondary_dark: #707070;

$primary: #337ab7;
$primary_light: lighten($primary, 30%);
$primary_dark: darken($primary, 10%);
$success: #5cb85c;
$success_light: lighten($success, 20%);
$success_dark: darken($success, 10%);
$info: #5bc0de;
$info_light: lighten($info, 20%);
$info_dark: darken($info, 10%);
$warning: #f0ad4e;
$warning_light: lighten($warning, 20%);
$warning_dark: darken($warning, 10%);
$danger: #d9534f;
$danger_light: lighten($danger, 20%);
$danger_dark: darken($danger, 10%);

$general_background_color: $secondary_light;
$general_header_background: $secondary;
$general_section_divider: $secondary_dark;
$general_button_background: $secondary;
$general_button_background_hover: $secondary_dark;
$general_button_background_disabled: $secondary_light;
$general_button_divider: $secondary_dark;
$general_icon_color: $secondary_dark;
$inbox_button_background: $secondary;

//fonts
$fonts_special: arial;
$font_colour_data: $black;
$font_colour_information: $secondary_dark;
$font_colour_disabled: $secondary;
$font_colour_button: $white;

//general
$general_border: 1.3 * $ppi_multiplier;
$general_border_radius: 4 * $ppi_multiplier;
$general_button_padding: 8;
$general_button_min_width: 100 * $ppi_multiplier * $ppi_multiplier;
$general_line_height: 1.42857143 * $ppi_multiplier;

$general_width_1: 100 * $ppi_multiplier;
$general_width_2: 250 * $ppi_multiplier;

$general_font_size_1: 12.8 * $ppi_multiplier;
$general_font_size_2: 14.4 * $ppi_multiplier;
$general_font_size_3: 16 * $ppi_multiplier;
$general_font_size_4: 20 * $ppi_multiplier;
$general_font_size_5: 24 * $ppi_multiplier;
$general_font_size_6: 32 * $ppi_multiplier;
$general_font_size_7: 48 * $ppi_multiplier;

$general_height_1: 34.4 * $ppi_multiplier;
$general_height_2: 56 * $ppi_multiplier;
$general_height_3: 77.28 * $ppi_multiplier;

$general_padding_1: 8 * $ppi_multiplier;
$general_padding_2: 16 * $ppi_multiplier;
$general_padding_3: 20 * $ppi_multiplier;
$general_padding_4: 32 * $ppi_multiplier;
$general_padding_5: 64 * $ppi_multiplier;

$general_margin_1: 16 * $ppi_multiplier;
$general_margin_2: 20 * $ppi_multiplier;
$general_margin_3: 32 * $ppi_multiplier;
$general_margin_4: 64 * $ppi_multiplier;

//title bar
$title_bar_height: 60;
$title_bar_button_min_width: 66.7 * $ppi_multiplier;
$title_bar_padding: 10.7 * $ppi_multiplier;

//footer bar
$mobile_footer_bar_height: 40;
$mobile_footer_bar_button_min_width: 40 * $ppi_multiplier;
$mobile_footer_bar_padding: 10.7 * $ppi_multiplier;


//nav bar
$nav_bar_padding_top: 64 * $ppi_multiplier;

//hr
$hr_height: 1.3 * $ppi_multiplier;

//home screen
$home_screen_image_padding: 40 * $ppi_multiplier;

//inbox
$inbox_date_time_margin: 5 * $ppi_multiplier;
$inbox_date_time_padding: 5 * $ppi_multiplier;
$inbox_nav_tabs_padding_active: 12 * $ppi_multiplier;
$inbox_nav_tabs_padding: 10 * $ppi_multiplier;
$inbox_nav_tabs_margin: 4 * $ppi_multiplier;

//chat
$chat_messages_margin: 6.7 * $ppi_multiplier;
$chat_messages_min_height: 1.3 * $ppi_multiplier;

//mobile dialog
$mobile_dialog_btn_block_margin: 6.7 * $ppi_multiplier;

//image asset locations
$ns_assets: "~/assets/";
$web_images: "~@synerty/peek-theme/images/";
