@import '_variables';
@import '_mixins';
@import 'layout.web/_bootstrap_adjustments.web';

//peek screens
@import 'layout.web/_title_bar.web';
@import 'layout.web/_home_screen.web';

@import 'layout.web/_navigation';
@import 'layout.web/_footer';

//pages
@import 'layout.web/_activity_task';
@import 'layout.web/_information';
@import 'layout.web/_details_data';
@import 'layout.web/_table_data';
@import 'layout.web/_chat_list';
@import 'layout.web/_chat_messages';

body,
html{
  height: 100%;
}

.image{
  max-width: 100%;
}

.hr{
  margin-top: 0px;
  margin-bottom: 0px;
}

*:focus {outline:none!important;}

.navigation-information{
  //border-bottom: 1px solid darken($grey,20%);
  margin-bottom: $general_padding;

  .form-group{
    padding-top: 0px;
    margin-bottom: 0px;
  }

}

.form-group{
  margin-bottom: 0px;
  padding-bottom: $general_padding;
  padding-top: $general_padding;
  //color: $black;
}
