@import '_variables';
@import '_mixins';
@import 'style/_bootstrap_adjustments.ns';

//peek screens
@import 'style/_title_bar';
@import 'style/_home_screen';
@import 'style/_footer';

//plugin screens
@import 'style/_plugin_inbox';
@import 'style/_plugin_chat';

//generic sections
@import 'style/_navigation_section';
@import 'style/_mobile_dialog_section';
@import 'style/_information_section';
@import 'style/_details_section';
@import 'style/_tables_section';

body,
html{
  font-size: $general_font_size;
  color: $font_colour_information;
  //height: 100%;
  font-family: $fonts_special;
}

.navigation-information{
  border-bottom: 1.3px solid darken($grey,20%);
  //margin-bottom: $general_padding;
}

.form-group{
  color: $black;
}
