@import '_variables';
@import '_mixins';
@import '_bootstrap_adjustments';

@import '_navigation';
@import '_footer';

//pages
@import '_home';
@import '_activity_task';
@import '_information';
@import '_form_data';
@import '_table_data';

body,
html{
  font-size: $general_font_size;
  color: $font_colour_default;
  height: 100%;
  font-family: $fonts_special;
}

img{
  max-width: 100%;
}

ul,
li{
  text-align: left;
}

ul{
  margin: $general_padding 0px;
}

hr{
  margin-top: 0px;
  margin-bottom: 0px;
}

*:focus {outline:none!important;}
