@import '_variables';
@import '_mixins';
@import '_fonts';

@import '_ui_buttons';
@import '_ui_navigation';
@import '_ui_forms';
@import '_ui_tables';

@import '_home';
@import '_footer';
@import '_content';

body,
html{
  font-size: $general_font_size;
  color: $font_colour_default;
  height: 100%;
}

img{
  max-width: 100%;
}

ul,
li{
  text-align: left;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

ul{
  margin: $general_padding 0px;
}

hr{
  margin-top: 0px;
  margin-bottom: 0px;
}

*:focus {outline:none!important;}
