//plugin
.plugin-active-task{

  //adjusting for fixed header and footer
  >.container-fluid{
    padding-top: $navigation_header_height + $general_padding;
    padding-bottom: $navigation_header_height + $general_padding;

    > .row{
      margin-right: -15px;
      margin-left: -15px;
    }

  }
}

//tasks
.plugin-active-task-task-list{

  .td{
    position: relative;
    padding: $general_padding ($general_padding+5) $general_padding 0px;
  }

  .task-icon{
    position: absolute;
    width: 45px;
    height: 100%;
    left: 0px;
    top: 0px;
    padding: $general_padding 0px $general_padding $general_padding;

    .fa{
      padding-right: $general_padding - 10px;
    }

  }

  .task-activity{

    margin-right: 10px;
    margin-left: 45px;

    .task-tite{
      padding-bottom: $general_padding - 5px;
    }

    .task-time{
      float: right;
    }

    .task-buttons{
      width: 100%;
      padding-top: 5px;
      margin-top: 5px;
    }


  }

  .task-read-more{
    position: absolute;
    width: 20px;
    right:0px;
    top:0px;
    height: 100%;

    &:hover{
      cursor: pointer;
    }

  }

}

//plugin activity task list
.plugin-active-task-activity-list{

  .td{
    //position: relative;
    padding: $general_padding ($general_padding*2) $general_padding $general_padding;
  }

  .activity-tite{
    padding-bottom: $general_padding - 5px;
  }

  .activity-time{

    float: right;
    padding: 5px 0px;
    margin-bottom: 5px;
    display: block;
  }

  .activity-buttons{
    display: block;
    width: 100%;
  }

  .task-read-more{
    width: 20px;
    right:0px;
    top:0px;
    height: 100%;

    &:hover{
      cursor: pointer;
    }

  }

}
