.plugin-inbox,
.inboxActivity{

  padding-left: $general_padding;
  padding-right: $general_padding;

  .inbox-item{
    padding: $general_padding;
    position: relative;
    width: 100%;

    .inbox-date-time{
      margin-bottom: 5px;
      padding-bottom: 5px;
    }
  }

  .inbox-info{
    padding: 0px $general_padding;
  }

  .btn.inbox-read-more{
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0px;
    height: 100%;
    background-image: url('../images/icon_more.png');
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 20px;
    border-radius: 0px;
    text-indent: - 9999px;
    overflow: hidden;
  }

}
