.plugin-chat-messages{

  $messaging-area-height: 100px;
  padding-top: $navigation_header_height + $general_padding;
  padding-bottom: $messaging-area-height + ($general_padding*2);



  .chat-messages-list{
    padding: $general_padding;
  }

  .chat-messages-sent{
    padding: $general_padding;
    margin-bottom: 5px;
    margin-left: 10%;
  }

  .chat-messages-received{
    padding: $general_padding;
    margin-bottom: 5px;
    margin-right: 10%;
  }


  .chat-messages-compose{
    display: table;
    width: 100%;
    position: fixed;
    bottom: $navigation_header_height;
    height: $messaging-area-height;
  }

  .form-control{
    display: table-cell;
    width: 70%;
    height: $messaging-area-height;
    float: left;
  }

  .btn{
    display: table-cell;
    width: 15%;
    padding: 0px;
    margin: 0px;
    line-height: 0px;
    top:0px;
    height: $messaging-area-height;
    float: left;
  }


}
