.plugin-chat-list{

  padding-top: $general_padding + $general_padding_nav_bar;

  .chat-list-messages{
    margin:0px $general_padding $general_padding $general_padding;
    display: block;
    overflow: hidden;
    padding: $general_padding;
    border: 1px solid $grey;
    border-radius: $general_border_radius;
  }

}
