.plugin-chat-messages{

  padding-top: $navigation_header_height + $general_padding;
  padding-bottom: $navigation_header_height + $general_padding;
  $messaging-area-height: 100px;


  .message-list{
    padding: $general_padding;
  }

  .sent{
    padding: $general_padding;
    margin-bottom: 5px;
    margin-left: 10%;
  }

  .received{
    padding: $general_padding;
    margin-bottom: 5px;
    margin-right: 10%;
  }


  .messaging-area{
    display: table;
    width: 100%;
    position: fixed;
    bottom: $navigation_header_height;
    height: $messaging-area-height;
  }

  .messaging-text{
    display: table-cell;
    width: 70%;
    height: $messaging-area-height;
  }

  .form-control{
    height: $messaging-area-height;
  }

  .buttons{
    display: table-cell;
    width: 30%;
    position: relative;

    .btn{
      width: 50%;
      padding: 0px;
      margin: 0px;
      float: left;
      height: $messaging-area-height;
    }

  }

}
