.peek-details-section {
  /* Contains the Details Section looks classes */
  margin-top: $general_padding;

  .details-section-title {
    /*
        Contains the title attributes unique to the Details Section
        this text will have the text-muted effect
    */

  }
  .details-section-value {
    /*
        Contains the value attributes unique to the Details Section
        text to have the focus of attention
    */
    margin-top: $general_padding;
    margin-bottom: $general_padding;

    .multiline {
      /*
          For web app layout.
          This class is to be used for multi-line support.
          Whitespace is preserved by the browser. Text will wrap when
          necessary, and on line breaks.  Must be in a span
      */
      white-space: pre-wrap;

    }

    .editable {
      /*
          Contains the editable attributes unique to the .details-section-value class
      */
      @include editable-web-layout;

      .editable-md {
        /*
            Contains the height property for the .editable class
        */
        height: $general_height_2;

      }

      .editable-lg {
        /*
            Contains the height property for the .editable class
        */
        height: $general_height_3;

      }
    }

    //Select lists
    select.editable {
      height: $general_height_1;

    }

    //Single line inputs
    input.editable {
      height: $general_height_2;

    }

    //Multi line inputs
    textarea.editable {
      height: $general_height_2;

    }
  }
}