.peek-details-data{

  >.container-fluid{
    padding-top: $navigation_header_height + $general_padding;
    padding-bottom: $navigation_header_height + $general_padding;

    > .row{
      margin-right: -15px;
      margin-left: -15px;
    }

  }

}
