.title {
  /* Applies the title theme */
  margin-bottom: $general_margin_3;
  padding: ($general_padding_4) 0 0 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  /* Applies the heading theme */
  @include nuke;
  padding: $general_padding_2 0 0 0;
}

.p {
  /* Applies the text theme */
  padding: $general_padding_2 0 0 0;
}

.hr {
  margin-top: $general_margin_2;
  margin-bottom: $general_margin_2;
  border: 0;
  border-top: $hr_height solid;
}

.bg-primary {
  /* Applies the primary background theme */

}

.bg-success {
  /* Applies the success background theme */

}

.bg-info {
  /* Applies the info background theme */

}

.bg-warning {
  /* Applies the warning background theme */

}

.bg-danger {
  /* Applies the danger background theme */

}

.btn-primary {
  /* Applies the primary button theme */

}

.btn-success {
  /* Applies the success button theme */

}

.btn-info {
  /* Applies the info button theme */

}

.btn-warning {
  /* Applies the warning button theme */

}

.btn-danger {
  /* Applies the danger button theme */

}