.peek-mobile-page-contents{
  min-height: 100%;
}

.peek-home-screen{

  padding-top: $navigation_header_height + 5px;
  padding-bottom: $navigation_header_height + $general_padding;
  bottom: 0px;
  min-height: 100%;

  //home page buttons
  .icon{

    font-family: $fonts_special;
    margin-top: $general_padding;
    padding: $general_padding*2;

    }

}
