.peek-home-screen{

  padding-top: $navigation_header_height + 5px;
  padding-bottom: $navigation_header_height + $general_padding;
  bottom: 0px;
  min-height: 100%;
  overflow-y: scroll;

  //home page buttons
  .icon{

    padding: 5px;
    font-family: $fonts_special;

    a{
      display: block;
      padding: $general_padding;

      @include box-shadow;
      transition: 0.45s;
      float: left;

      img{
        padding: $general_padding ($general_padding*2);
      }

      &:hover{
          @include no-shadow;
      }

      }

    }

}
