.peek-information-section{
  padding-top: $navigation_header_height + $general_padding;
  padding-bottom: $navigation_header_height + $general_padding;
  padding-left:  $general_padding;
  padding-right:  $general_padding;



  .icon{

    @include inner-shadow(0.35);
    padding: 20px;
    max-width: 100px;
    height: auto;
    border-radius: $general_border_radius;
    margin-top: $general_padding*2;
    margin-bottom: $general_padding*2;
    margin-left: auto;
    margin-right: auto;
    display: block;


  }

  .btn{
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 1.2em;
    background-color: darken($grey,20%);
  }



}
