.mobile-dialog {
  /* Contains the Dialog Mobile Section looks classes unique for mobile devices */
  padding: $general_padding_2;

  .dialog-label {
    /*
        Contains the title attributes unique to the Dialog Mobile Section
    */

  }
  .dialog-selector {
    /*
        Contains the selector attributes unique to the Dialog Mobile Section
    */
    @include editable-web-layout;

  }

  .dialog-btn-block {
    /*
        Contains the btn block attributes unique to the Dialog Mobile Section
    */

  }

  .dialog-action-btn-group {
    /*
        Contains the action button group attributes unique to the Dialog Mobile Section
    */

  }

  .dialog-action-btn {
    /*
        Contains the action button attributes
    */

  }
  .btn-group > .dialog-action-btn {
    position: relative;
    float: left;
  }
}