.mobile-dialog {
  /* Contains the Dialog Mobile Section looks classes unique for mobile devices */
  padding: $general_padding;

  .dialog-label {
    /*
        Contains the title attributes unique to the Dialog Mobile Section
    */

  }
  .dialog-selector {
    /*
        Contains the selector attributes unique to the Dialog Mobile Section
    */
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    line-height: 1.42857143;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

  }

  .dialog-action-btn {
    /*
        Contains the action button attributes
    */

  }
  .btn-group > .dialog-action-btn {
    position: relative;
    float: left;
  }
}