.mobile-dialog {
  /* Contains the Dialog Mobile Section looks classes unique for mobile devices */
  padding: $general_padding;

  .dialog-label {
    /*
        Contains the title attributes unique to the Dialog Mobile Section
    */

  }
  .dialog-selector {
    /*
        Contains the selector attributes unique to the Dialog Mobile Section
    */
    @include editor-web-layout;

  }

  .dialog-action-btn {
    /*
        Contains the action button attributes
    */

  }
  .btn-group > .dialog-action-btn {
    position: relative;
    float: left;
  }
}