//Peek navigation section
.peek-nav-section {
  /* Contains the Navigation Section attributes */
  padding: $general_padding;
  width: 100%;
  position: fixed;
  z-index: 899;

  .nav-section-btn {
    /* Contains the Button attributes unique to the Navigation Section */

  }
  .btn-group > .nav-section-btn {
    position: relative;
    float: left;
  }
}

.peek-nav-bar-padding {
  /* Provides padding for the screen under the Navigation Section */
  padding-top: $nav_bar_padding_top;
}