//Peek navigation section
.peek-nav-section {
  /* Contains the Navigation Section attributes */
  padding: $general_padding;
  width: 100%;
  position: fixed;
  z-index: 899;
}

.peek-nav-bar-padding {
  padding-top: $general_padding_nav_bar;
}