// Main top navigation
.peek-title-bar{

  //$section_font_size: 0.8em;
  width: 100%;
  z-index: 999;
  height: $navigation_header_height;// main header height being set
  position: fixed;
  
  >.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
  }

  //normal button
  .btn{
    height: $navigation_header_height; //setting height to default header naviation height
  }

  //title
  .menu-title{
    line-height: $navigation_header_height;

    @media (min-width: 768px){
      text-align: center;
    }
  }

}

//navigation tabs
.nav{

  //$section_font_size: 0.8em;
  margin: 0px;

  &.nav-tabs{
    //border-bottom: 0px solid $brand;

    & > li {
      margin-bottom: 0px;

      &.active{
        & > a{
          //border-radius: 0px 0px 0 0;
          @include button-settings;
          //font-size:$section_font_size;
          padding: 12px;
          margin-top: 0px;
          //border-radius: 0px;
        }
      }

      & > a{
        //font-family: $fonts_special;
        //text-transform: $font_transform;
        //color: lighten($font_colour_default,10%);
        //font-size:$section_font_size;
        //border: 0px;
        margin-right: 0px;
        margin-top: 10px;
        //border-radius: 0px 0px 0 0;
        //background-color: #eee;
        padding: 10px;
        margin-top: 4px
      }

    }



  }
}
