// Main top navigation
.peek-title-bar{

  //$section_font_size: 0.8em;
  width: 100%;
  z-index: 999;
  height: $navigation_header_height;// main header height being set
  position: fixed;

  //normal button
  .btn{
    height: $navigation_header_height; //setting height to default header naviation height
  }

  //title
  .title-bar-title{
    line-height: $navigation_header_height;
    padding-left: $general_padding;
    padding-right: $general_padding;
  }

}

//Peek navigation section
.peek-nav-section{
  padding: $general_padding;
}


//navigation tabs
.nav{

  margin: 0px;

  &.nav-tabs{

    & > li {
      margin-bottom: 0px;

      &.active{
        & > a{
          @include button-settings;
          padding: 12px;
          margin-top: 0px;

        }
      }

      & > a{

        margin-right: 0px;
        margin-top: 10px;
        padding: 10px;
        margin-top: 4px
      }

    }

  }
}

//button group
.btn-group{
  .btn{
    min-width: 40px;
  }

}
