.pl-inbox {
  /*
        Contains the style and classes for the inbox container
  */
    margin: 0 $general_margin_1/8 0 $general_margin_1/8;

  .pl-inbox-item {
    /*
        Contains the style and classes for each inbox item
    */
    padding: $general_padding_2 $general_padding_2 $general_padding_2 $general_padding_2;

    position: relative;
    width: 100%;
    overflow: hidden;
    display: table;
    border-radius: $general_border_radius;

    .pl-inbox-icon {
      /*
          Contains the icon attributes unique to the .pl-inbox-item class
      */
      display: table-cell;

    }
    .pl-inbox-info {
      /*
          Contains the info attributes unique to the .pl-inbox-item class
      */
      padding: 0 $general_padding_2;
      vertical-align: top;

      .pl-inbox-title {
        /*
            Contains the title text attributes unique to the .pl-inbox-info class
        */

      }
      .pl-inbox-description {
        /*
            Contains the description text attributes unique to the .pl-inbox-info class
        */
        white-space: pre-wrap;

      }
      .pl-inbox-date-time {
        /*
            Contains the date and time attributes unique to the .pl-inbox-info class
        */
        float: right;

      }
    }
  }

  .pl-inbox-read-more {
    /*
        Contains the read more link attributes unique to the .plugin-inbox class
    */
    margin: $general_margin_1;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;

  }
}