.plugin-inbox,
.pl-inboxActivity,
.pl-inboxTasks {

  padding-top: $general_padding;
  padding-left: $general_padding;
  padding-right: $general_padding;

  .pl-inbox {
    /*
          Contains the style and classes for the inbox container
    */

    .pl-inbox-item {
      /*
          Contains the style and classes for the
      */
      padding: $general_padding;
      position: relative;
      width: 100%;

      .pl-inbox-icon {
        /*
            Contains the icon attributes unique to the .pl-inbox-item class
        */
        color: $brand;
        font-size: 16.8pt;
        display: table-cell;

      }
      .pl-inbox-info {
        /*
            Contains the info attributes unique to the .pl-inbox-item class
        */
        padding: 0 $general_padding;

        .pl-inbox-title {
          /*
              Contains the title text attributes unique to the .pl-inbox-info class
          */

        }
        .pl-inbox-description {
          /*
              Contains the description text attributes unique to the .pl-inbox-info class
          */
          white-space: pre-wrap;

        }
        .pl-inbox-date-time {
          /*
              Contains the date and time attributes unique to the .pl-inbox-info class
          */
          margin-bottom: 3.75pt;
          padding-bottom: 3.75pt;

        }
      }
    }
    .pl-inbox-read-more {
      /*
          Contains the read more link attributes unique to the .plugin-inbox class
      */
      position: absolute;
      top: 0;
      right: 0;
      padding: 0;
      height: 100%;
      background-image: url('../images/icon_more.png');
      background-position: center center;
      background-size: 100% auto;
      background-repeat: no-repeat;
      width: 15pt;
      border-radius: 0;
      text-indent: - 9999pt;
      overflow: hidden;
      min-width: 20pt;

    }
  }
}

//navigation tabs
.nav {

  margin: 0;

  &.nav-tabs {

    & > li {

      &.active {
        & > a {
          cursor: pointer;
          display: inline-block;
          position: relative;
          z-index: 100;
          font-weight: normal;
          border: 0;
          padding: 9pt;
          margin-top: 0;
        }
      }

      & > a {
        margin-right: 0;
        padding: 7.5pt;
        margin-top: 3pt;
      }
    }
  }
}