.pl-inbox {
  /*
        Contains the style and classes for the inbox container
  */

  padding-top: $general_padding_2;
  padding-left: $general_padding_2;
  padding-right: $general_padding_2;

  .pl-inbox-item {
    /*
        Contains the style and classes for the
    */
    padding: $general_padding_2 $general_padding_4 $general_padding_2 $general_padding_2;

    position: relative;
    width: 100%;
    overflow: hidden;
    display: table;

    .pl-inbox-icon {
      /*
          Contains the icon attributes unique to the .pl-inbox-item class
      */
      display: table-cell;

    }
    .pl-inbox-info {
      /*
          Contains the info attributes unique to the .pl-inbox-item class
      */
      padding: 0 $general_padding_2;
      vertical-align: top;

      .pl-inbox-title {
        /*
            Contains the title text attributes unique to the .pl-inbox-info class
        */

      }
      .pl-inbox-description {
        /*
            Contains the description text attributes unique to the .pl-inbox-info class
        */
        white-space: pre-wrap;

      }
      .pl-inbox-date-time {
        /*
            Contains the date and time attributes unique to the .pl-inbox-info class
        */
        float: right;

      }
    }
  }

  .pl-inbox-read-more {
    /*
        Contains the read more link attributes unique to the .plugin-inbox class
    */
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    
}

//navigation tabs
.nav {

  margin: 0;

  &.nav-tabs {

    & > li {

      &.active {
        & > a {
          cursor: pointer;
          display: inline-block;
          position: relative;
          z-index: 100;
          font-weight: normal;
          border: 0;
          padding: $inbox_nav_tabs_padding_active;
          margin-top: 0;
        }
      }

      & > a {
        margin-right: 0;
        padding: $inbox_nav_tabs_padding;
        margin-top: $inbox_nav_tabs_margin;
      }
    }
  }
}