//Peek Tabs section
.peek-tabs-section {
  /* Contains the Tabs Section attributes */
  padding-top: $general_padding_2;
  padding-left: $general_padding_2;
  width: 100%;
  position: fixed;
  z-index: 899;

  .btn-group {
    /* Contains the attributes unique to the Tabs Section */
    position: relative;
    float: left;

    .tabs-section-btn {
      /* Contains the Button attributes unique to the Tabs Section */
      float: left;

    }
    .tabs-section-btn-divider {
      /* Contains the button divider attributes unique to the Tabs Section */

    }
  }
}

.peek-tabs-bar-padding {
  /* Provides padding for the screen under the Tabs Section */
  padding-top: $tabs_bar_padding_top;
}