// Title Bar
.peek-title-bar {
  /* Contains the Title Bar classes */
  width: 100%;
  height: $navigation_header_height; // main header height being set
  position: fixed;
  display: flex;
  z-index: 1001;
  overflow: hidden;
}

.title-bar-btn {
  /* Contains the button attributes unique to the Title Bar */
  height: $navigation_header_height; //setting height to default header naviation height
  padding: 0 8pt;
  display: inline-block;
  position: relative;
  min-width: 50pt;
}

.title-bar-title {
  /* Contains the title attributes unique to the Title Bar */
  line-height: $navigation_header_height;
  padding-left: $general_padding;
  padding-right: $general_padding;
  float: left;
  margin: auto;
  width: 50%;
}

.peek-mobile-page-contents {
  /* Contains the padding to stop the screens being covered by the title-bar */
  padding-top: $navigation_header_height;
  padding-bottom: $navigation_header_height + $general_padding;
}