@import '../_variables';
@import '../_mixins';
@import '_bootstrap_adjustments.web';

@import '_navigation';
@import '_footer';

//pages
@import '_home';
@import '_activity_task';
@import '_information';
@import '_details_data';
@import '_table_data';
@import '_chat_list';
@import '_chat_messages';
@import '_noop';

body,
html{
  height: 100%;
}

.peek-mobile-page-contents{
  height: 100%;
  padding-top: $navigation_header_height;
  padding-bottom: $navigation_header_height + $general_padding;
}


.image{
  max-width: 100%;
}

.hr{
  margin-top: 0px;
  margin-bottom: 0px;
}

*:focus {outline:none!important;}

.navigation-information{
  //border-bottom: 1px solid darken($grey,20%);
  margin-bottom: $general_padding;

  .form-group{
    padding-top: 0px;
    margin-bottom: 0px;
  }

}

.form-group{
  margin-bottom: 0px;
  padding-bottom: $general_padding;
  padding-top: $general_padding;
  //color: $black;
}
