.peek-details-section {
  /* Contains the Details Section looks classes */
  margin-top: $general_padding;

  .details-section-title {
    /*
        Contains the title attributes unique to the Details Section
        this text will have the text-muted effect
    */

  }
  .details-section-value {
    /*
        Contains the value attributes unique to the Details Section
        text to have the focus of attention
    */
    margin-top: $general_padding;
    margin-bottom: $general_padding;

    .editable {
      /*
          Contains the selector attributes unique to the Dialog Mobile Section
      */
      @include editable-ns-layout;

      .editable-md {
        /*
            Contains the height property for the .editable class
        */
        height: $general_height_2;

      }

      .editable-lg {
        /*
            Contains the height property for the .editable class
        */
        height: $general_height_3;

      }
    }

    //Select lists
    ListPicker.editable {
      height: $general_height_2_17;

    }

    //Single line inputs
    TextField.editable {
      height: $general_height_2_17;

    }

    //Multi line inputs
    TextView.editable {
      height: $general_height_2;

    }
  }
}