.peek-information-section {
  /*
      Contains the Information Section classes
  */
  padding: $general_padding_2;

  .information-section-title {
    /*
        Contains the title attributes unique to the peek-information-section class
    */
  }

  .information-section-icon {
    /*
        Contains the icon attributes unique to the peek-information-section class
    */
    background-image: url('~/assets/home_background.png');
    padding: $general_padding_3;
    width: 25%;
    height: 25%;
    /* border-radius: $general_border_radius;  TODO: temporarily removed from NS app */
    margin-top: $general_margin_3;
    margin-bottom: $general_margin_3;
    horizontal-align: center;
    display: block;
  }
}
