.peek-information-section {
  /*
      Contains the Information Section classes
  */
  padding: $general_padding;

  .information-section-title {
    /*
        Contains the title attributes unique to the peek-information-section class
    */
  }

  .information-section-icon {
    /*
        Contains the icon attributes unique to the peek-information-section class
    */
    background-image: url('~/assets/home_background.png');
    padding: 15pt;
    width: 25%;
    height: 25%;
    border-radius: $general_border_radius;
    margin-top: $general_padding*2;
    margin-bottom: $general_padding*2;
    horizontal-align: center;
    display: block;
  }
}
