.plugin-inbox,
.inboxActivity{

  .inbox-item{
    overflow: hidden;
    display: table;
    border-bottom: 1px solid $white;

    .inbox-title{
      font-size: 1em;
    }

    .inbox-description{
      font-size: 0.9em;
    }

    .inbox-date-time{
      font-size: 0.8em;
      border-bottom: 1px solid $grey;
      text-align: right;
    }

    .btn{
        color: $white;
        font-size: 0.8em;
      }

  }

  .btn.inbox-read-more{
    display: table-cell;
    background-color: darken($grey,10%);

    &:hover{
      background-color: $brand;
    }
  }

  .inbox-icon{
    color: $brand;
    font-size: 1.4em;
    display: table-cell;
  }

  .inbox-info{
    display: table-cell;
    vertical-align: top;
  }

}
