.plugin-inbox,
.inboxActivity{

  .task{
    overflow: hidden;
    display: table;
    border-bottom: 1px solid $white;

    .title{
      font-size: 1em;
    }

    .description{
      font-size: 0.9em;
    }

    .date-time{
      font-size: 0.8em;
      border-bottom: 1px solid $grey;
      text-align: right;
    }

    .btn{
        color: $white;
        font-size: 0.8em;
      }

  }

  .btn.read-more{
    display: table-cell;
    background-color: darken($grey,10%);

    &:hover{
      background-color: $brand;
    }
  }

  .icon{
    color: $brand;
    font-size: 1.4em;
    display: table-cell;
  }

  .info{
    display: table-cell;
    vertical-align: top;
  }

}
