.plugin-chat-messages{
  .sent{
    text-align:right;
    background-color: lighten($grey,15%);
    border-radius: $general_border_radius;
  }

  .received{
    text-align:left;
    background-color: $green;
    border-radius: $general_border_radius;
  }

  .message-details{
    font-size: 0.8em;
    border-radius: 0px;
  }

  .messaging-area{
    overflow: hidden;
    background-color: $white;
    
    .btn,
    .form-control{
      border-radius: 0px;
    }

  }

}
