.plugin-chat-messages{
  .chat-messages-sent{
    text-align:right;

    border-radius: $general_border_radius;
  }

  .received{
    text-align:left;
    background-color: $green;
    border-radius: $general_border_radius;
  }

  .message-details{
    font-size: 0.8em;
    border-radius: 0px;
  }

  .chat-messages-compose{
    overflow: hidden;
    background-color: $white;
  }

  .btn,
  .form-control{
    border-radius: 0px;
  }

}
