.peek-details-section {
  /* Contains the Details Section looks classes */

  .details-section-title {
    /*
        Contains the title attributes unique to the Details Section
        this text will have the text-muted effect
    */
    font-size: $general_font_size;
    color: $font_colour_information;

  }
  .details-section-value {
    /*
        Contains the value attributes unique to the Details Section
        text to have the focus of attention
    */
    font-size: $general_font_size_1_5;
    font-weight: 500;
    color: $font_colour_data;

    .editable {
      /*
          Contains the editable attributes unique to the .details-section-value class
      */
      @include editable-style;

    }
  }
}