.peek-details-section{

  .title{
    font-size: 0.9em;
    color: darken($grey,40%);
  }

  .value{
    border-bottom: 1px solid $grey;
    padding-bottom: $general_padding;
    margin-bottom: $general_padding;
  }

}
