.peek-home-screen{

  background-image: url('../images/home_background.png');
  background-repeat: no-repeat;
  background-color: $general_background_color;
  background-repeat: no-repeat;
  background-size: cover;
  min-height:100%;

  //home page buttons
  .home-screen-icon{

    //padding: 5px;
    font-family: $fonts_special;
    background-image: url("../images/button_home_background.png");
    background-repeat: repeat;
    display: block;
    color: $white;
    text-transform: capitalize;
    text-align: center;
    border-radius: $general_border_radius + 2px;
    font-size: 1.1em;
    @include box-shadow;
    
    }

}
