.peek-information-section{

  .information-section-icon{
    background-image: url('../images/home_background.png');
    font-size: 3em;
    color: $white;
    text-align: center;
  }

  .information-section-title{
    font-size: 2em;
    text-align: center;
  }

  //icon
  .fa{
    &.information-icon-large{
      font-size: 6em;
      //padding: ($general_padding*2)($general_padding*3);
      border-radius: $general_border_radius*2;
      color: $white;
      background-image: url('../images/home_background.png');
      background-size: 400%;
      background-position: top center;
      text-align: center;
    }
  }


}
