.peek-information-section {
  /*
      Contains the Information Section classes
  */

  .information-section-icon {
    /*
        Contains the icon attributes unique to the peek-information-section class
    */
    font-size: 36pt;
    color: $white;
    text-align: center;
  }

  .information-section-title {
    /*
        Contains the title attributes unique to the peek-information-section class
    */
    font-size: 24pt;
    text-align: center;
    color: $font_colour_information;
  }
}