.peek-information-section {
  /*
      Contains the Information Section classes
  */

  .information-section-icon {
    /*
        Contains the icon attributes unique to the peek-information-section class
    */
    font-size: 36pt;
    color: $white;
    text-align: center;

  }
  .information-section-title {
    /*
        Contains the title attributes unique to the peek-information-section class
    */
    font-size: 24pt;
    text-align: center;
    color: $black;

  }
  .information-section-btn {
    /*
        Contains the button attributes unique to the peek-information-section class
    */
  }
    font-size: 14pt;

  //icon
  .fa {
    &.information-icon-large {
      font-size: 72pt;
      border-radius: $general_border_radius*2;
      color: $white;
      background-size: 400%;
      background-position: top center;
      text-align: center;
    }
  }
}