.mobile-dialog {
  /* Contains the Dialog Mobile Section looks classes unique for mobile devices */
  border-bottom: 1pt solid $grey;
  background: white;

  .dialog-label {
    /*
        Contains the title attributes unique to the Dialog Mobile Section
    */
    font-size: 12pt;
    color: $font_colour_information;

  }
  .dialog-selector {
    /*
        Contains the selector attributes unique to the Dialog Mobile Section
    */
    font-size: 11pt;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1pt solid #ccc;
    border-radius: 3pt;
    box-shadow: inset 0 1pt 1pt rgba(0, 0, 0, .075);

  }

  .dialog-action-btn {
    /*
        Contains the action button attributes unique to the Dialog Mobile Section
    */

    @include button-settings;

  }
}