//Peek navigation section
.peek-nav-section {
  /* Contains the Navigation Section attributes */
  border-bottom: 1pt solid $grey;
  overflow: hidden;
  background: white;

  .nav-section-btn {
    /* Contains the Button attributes unique to the Navigation Section */
    background-color: darken($grey, 20%);
    border-right: 1pt solid darken($grey, 35%);
    border-radius: 0;
    border-left: 0;
    float: left;
    @include button-settings;
    min-width: 30pt;

    &:last-child {
      border-right: 0;
      border-radius: 0 $general_border_radius $general_border_radius 0;
    }

    &:first-child {
      border-radius: $general_border_radius 0 0 $general_border_radius;
    }
  }
}

//navigation tabs
.nav {

  $section_font_size: 10pt;

  &.nav-tabs {
    border-bottom: 0 solid $brand;

    & > li {

      &.active {
        & > a {
          font-size: $section_font_size;
          border-radius: 0;
        }
      }

      & > a {
        font-family: $fonts_special;
        text-transform: $font_transform;
        color: lighten($font_colour_default, 10%);
        font-size: $section_font_size;
        border: 0;
        border-radius: 0;
        background-color: #eee;
      }
    }
  }
}
