//Peek navigation section
.peek-nav-section {
  /* Contains the Navigation Section attributes */
  border-bottom: 1pt solid $grey;
  overflow: hidden;
  background: white;

  .nav-section-btn {
    /* Contains the Button attributes unique to the Navigation Section */
    color: $font_colour_button;
    cursor: pointer;
    font-size: 11pt;
    padding: 6pt;
    border: 0;
    background-color: darken($grey, 20%);
    float: left;
    min-width: 30pt;
    border-right: 1pt solid darken($grey, 35%);

    &:last-child {
      border-radius: 0 $general_border_radius $general_border_radius 0;
      border-right: 0;
    }

    &:first-child {
      border-radius: $general_border_radius 0 0 $general_border_radius;
    }

    &:first-child:last-child {
      border-radius: $general_border_radius;
    }
  }
}

.peek-nav-bar-padding {
  /* Provides padding for the screen under the Navigation Section */

}