// Main top navigation
.peek-title-bar{

  $section_font_size: 0.8em;
  @include box-shadow;
  background-color: $white;
  text-transform: $font_transform;

  //normal button
  .btn{
    font-size:$section_font_size;
    border-radius: 0px;
    padding: 10px;
  }

  //button group
  .btn-group{

    &>.btn{
        &:first-child,
        &:last-child{
          border-radius: 0px;
        }
    }

  }

}



//navigation tabs
.nav{

  $section_font_size: 0.8em;

  &.nav-tabs{
    border-bottom: 0px solid $brand;

    & > li {

      &.active{
        & > a{
          border-radius: 0px 0px 0 0;
          font-size:$section_font_size;
          border-radius: 0px;
        }
      }

      & > a{
        font-family: $fonts_special;
        text-transform: $font_transform;
        color: lighten($font_colour_default,10%);
        font-size:$section_font_size;
        border: 0px;
        border-radius: 0px 0px 0 0;
        background-color: #eee;
      }

    }

  }

}
