// Main top navigation
.peek-title-bar{

  $section_font_size: 0.8em;
  @include box-shadow;
  background-color: $white;
  text-transform: $font_transform;

  //normal button
  .title-bar-btn{
    font-size:$section_font_size;
    border-radius: 0px!important;
    background-color: $brand!important;
    margin-right: 0px;
    border-right: 1px solid darken($brand,10%)!important;
    border-left: 0px;
    float: left;
  }

  //button group
  .btn-group{
    background-color: $brand;
  }

  .title-bar-btn{
        &:last-child{
          border-right:0px;
        }
    }


}

//Peek navigation section
.peek-nav-section{
  border-bottom: 1px solid $grey;
  overflow: hidden;

  .btn{
    background-color: darken($grey,20%);
    border-right-color:darken($grey,35%);
  }
}

//navigation tabs
.nav{

  $section_font_size: 0.8em;

  &.nav-tabs{
    border-bottom: 0px solid $brand;

    & > li {

      &.active{
        & > a{
          border-radius: 0px 0px 0 0;
          font-size:$section_font_size;
          border-radius: 0px;
        }
      }

      & > a{
        font-family: $fonts_special;
        text-transform: $font_transform;
        color: lighten($font_colour_default,10%);
        font-size:$section_font_size;
        border: 0px;
        border-radius: 0px 0px 0 0;
        background-color: #eee;
      }

    }

  }

}
