//Peek navigation section
.peek-nav-section {
  /* Contains the Navigation Section attributes */
  border-bottom: 1.3px solid $divider_colour_navigation_section;
  overflow: hidden;
  background: white;

  .nav-section-btn {
    /* Contains the Button attributes unique to the Navigation Section */

    @include button-settings;

  }
}

.peek-nav-bar-padding {
  /* Provides padding for the screen under the Navigation Section */

}