.pl-inbox {

  .pl-inbox {
    /*
        Contains the style and classes for the inbox container
    */

    .pl-inbox-item {
      /*
          Contains the style and classes for the
      */
      border-bottom: 1.3px solid $white;
    }

    .pl-inbox-icon {
      /*
          Contains the icon attributes unique to the .pl-inbox-item class
      */
      color: $brand;
      font-size: 20px;
    }

    .pl-inbox-info {
      /*
          Contains the info attributes unique to the .pl-inbox-item class
      */
    }

    .pl-inbox-title {
      /*
          Contains the title text attributes unique to the .pl-inbox-info class
      */
      font-size: 16px;
    }

    .pl-inbox-description {
      /*
          Contains the description text attributes unique to the .pl-inbox-info class
      */
      font-size: 14.7px;
    }

    .pl-inbox-date-time {
      /*
          Contains the date and time attributes unique to the .pl-inbox-info class
      */
      font-size: 14px;
      border-bottom: 1.3px solid $grey;
    }
  }

  .pl-inbox-read-more {
    /*
        Contains the read more link attributes unique to the .plugin-inbox class
    */
    background-color: $inbox_button_background;

    &:hover {
      background-color: $brand;
    }
  }
}

//navigation tabs
.nav {

  $section_font_size: 13.3px;

  &.nav-tabs {
    border-bottom: 0 solid $brand;

    & > li {

      &.active {
        & > a {
          color: $font_colour_button;
          background-color: $general_button_background;
          font-size: 12.8px;
          border-radius: 0;
        }
      }

      & > a {
        color: #666666;
        background-color: #eee;
        font-size: 12.8px;
        border: 0;
        border-radius: 0;
      }
    }
  }
}

//nav tabs active lists
.tab-content {
  border-top: 1.3px solid $general_header_background;
}
