.plugin-inbox,
.pl-inboxActivity,
.pl-inboxTasks{

  .pl-inbox {
    /*
        Contains the style and classes for the inbox container
    */

    .pl-inbox-item {
      /*
          Contains the style and classes for the
      */
      overflow: hidden;
      display: table;
      border-bottom: 1pt solid $white;
    }

    .pl-inbox-icon {
      /*
          Contains the icon attributes unique to the .pl-inbox-item class
      */
      color: $brand;
      font-size: 15pt;
      display: table-cell;
    }

    .pl-inbox-info {
      /*
          Contains the info attributes unique to the .pl-inbox-item class
      */
      display: table-cell;
      vertical-align: top;
    }

    .pl-inbox-title {
      /*
          Contains the title text attributes unique to the .pl-inbox-info class
      */
      font-size: 12pt;
    }

    .pl-inbox-description {
      /*
          Contains the description text attributes unique to the .pl-inbox-info class
      */
      font-size: 11pt;
    }

    .pl-inbox-date-time {
      /*
          Contains the date and time attributes unique to the .pl-inbox-info class
      */
      font-size: 10.5pt;
      border-bottom: 1pt solid $grey;
      text-align: right;
    }
  }

  .pl-inbox-read-more {
    /*
        Contains the read more link attributes unique to the .plugin-inbox class
    */
    display: table-cell;
    background-color: $inbox_button_background;

    &:hover {
      background-color: $brand;
    }
  }
}

//navigation tabs
.nav {

  $section_font_size: 10pt;

  &.nav-tabs {
    border-bottom: 0 solid $brand;

    & > li {

      &.active {
        & > a {
          color: $font_colour_button;
          background-color: $general_button_background;
          font-size: 9.6pt;
          border-radius: 0;
        }
      }

      & > a {
        color: #666666;
        background-color: #eee;
        font-size: 9.6pt;
        border: 0;
        border-radius: 0;
      }
    }
  }
}

//nav tabs active lists
.tab-content {
  border-top: 1pt solid $general_header_background;
}
