.pl-inbox {
  /*
      Contains the style and classes for the inbox container
  */

  .pl-inbox-item {
    /*
        Contains the style and classes for the
    */
    border-bottom: $general_border solid $white;
    border-radius: $general_border_radius;
  }

  .pl-inbox-icon {
    /*
        Contains the icon attributes unique to the .pl-inbox-item class
    */
    color: $brand;
    font-size: $general_font_size_4;
  }

  .pl-inbox-info {
    /*
        Contains the info attributes unique to the .pl-inbox-item class
    */
  }

  .pl-inbox-title {
    /*
        Contains the title text attributes unique to the .pl-inbox-info class
    */
    font-size: $general_font_size_3;
    color: $font_colour_data;
  }

  .pl-inbox-description {
    /*
        Contains the description text attributes unique to the .pl-inbox-info class
    */
    font-size: $general_font_size_2;
    color: $font_colour_information;

  }

  .pl-inbox-date-time {
    /*
        Contains the date and time attributes unique to the .pl-inbox-info class
    */
    font-size: $general_font_size_2;
    color: $font_colour_data;
  }

  .pl-inbox-read-more {
    /*
        Contains the read more link attributes unique to the .plugin-inbox class
    */

    @include button-settings;

    border-right: none;
    background-color: $inbox_button_background;

    &:hover {
      background-color: $brand;
    }
  }
}

//navigation tabs
.nav {

  $section_font_size: $general_font_size_2;

  &.nav-tabs {
    border-bottom: 0 solid $brand;

    & > li {

      &.active {
        & > a {
          color: $font_colour_button;
          background-color: $general_button_background;
          font-size: $general_font_size_1;
          border-radius: 0;
        }
      }

      & > a {
        color: #666666;
        background-color: #eee;
        font-size: $general_font_size_1;
        border: 0;
        border-radius: 0;
      }
    }
  }
}

//nav tabs active lists
.tab-content {
  border-top: $general_border solid $general_header_background;
}
