.plugin-chat-list {
  /*
      Contains the chat-list component classes
  */

  .chat-list-messages {
    /*
        Contains the Messages attributes unique to the Chat List
    */

    .chat-list-icon {
      /*
          Contains the icon attributes unique to the message class
          The icon is used to indicate unread messages
      */
      color: $general_icon_color;
      font-size: 15pt;
      float: right;

    }
    .chat-list-title {
      /*
          Contains the topic text attributes unique to the message class
      */

    }
    color: $font_colour_information;
    .fa {
      color: $general_icon_color;
      font-size: 15pt;
      float: right;
    }

  }
}

.plugin-chat-messages {
  /*
      Contains the msg-list component classes
  */

  .chat-messages-list {
    /*
        Attributes for the container of messages, unique to the Chat
        Messages.
        Scrolls through the messages with most recent at the bottom.
    */

    .chat-messages-details {
      /*
          Contains the message details text attributes unique to the
          message-list class.
          The message details should not be the focus of attention (text-muted)
      */
      font-size: 11pt;
      border-radius: 0;
      color: $font_colour_default;

    }
    .chat-messages-sent {
      /*
          Contains the sent message attributes unique to the message-list
          class.
          Container is right aligned with background colour different to the
          received class.
          bg-success class applied for a successfully sent message.
      */
      color: $font_colour_information;

    }
    .chat-messages-received {
      /*
          Contains the received text attributes unique to the message-list
          class.
          Container is right aligned with background colour different to the
          sent class.
          bg-warning class applied for an emergency priority message.
      */
      //right align and justified
      //direction: rtl;
      text-align: right;
      color: $font_colour_information;

    }
    .chat-messages-emergency {
      /*
          Contains the emergency priority message text attributes unique to the
          message-list class
      */
      font-size: 18pt;
      border-radius: $general_border_radius;

    }
    .chat-messages-normal {
      /*
          Contains the normal priority message text attributes unique to the
          message-list class
      */
      font-size: 15pt;
      border-radius: $general_border_radius;

    }
  }
}

.chat-messages-btn-group {

  .chat-messages-btn {
    /*
        Contains the button attributes unique to the
        chat-messages-compose class.
    */
    color: $font_colour_button;
    cursor: pointer;
    font-size: 11pt;
    padding: 6pt;
    border: 0;
    background-color: $nav_button_background;
    float: left;
    min-width: 30pt;
    border-right: 1pt solid $nav_button_divider;

    &:last-child {
      border-radius: 0 $general_border_radius $general_border_radius 0;
      border-right: 0;
    }

    &:first-child {
      border-radius: $general_border_radius 0 0 $general_border_radius;
    }

    &:disabled {
      cursor: not-allowed;
      box-shadow: none;
      opacity: .65;
      color: $grey;
    }
  }
}