.peek-tables-section {
  /* Contains the Tables Section classes */

  .table {
    /* Contains the table attributes unique to the Tables Section */
    color: $font_colour_information;

  }

  .tr {
    /* Contains the table row attributes unique to the .table class */

  }
  .th {
    /* Contains the table head cell attributes unique to the .table class */
    background-color: $general_header_background;
    color: $font_colour_button;
    font-family: $fonts_special;
    border-bottom: 0;
    font-size: $general_font_size_1_25;

  }
  .td {
    /* Contains the table row cell attributes unique to the .table class */

  }
}
