// Title Bar
.peek-title-bar {
  /* Contains the Title Bar classes */
  @include box-shadow;
  background-color: $white;
  text-transform: $font_transform;

  //button group
  .btn-group {
    background-color: $brand;
  }
}

.title-bar-btn {
  /* Contains the button attributes unique to the Title Bar */
  color: $white;
  font-family: $fonts_special;
  text-transform: $font_transform;
  cursor: pointer;
  display: inline-block;
  position: relative;
  z-index: 100;
  padding: 6pt;
  font-weight: normal;
  border: 0;
  font-size: 10pt;
  border-radius: 0;
  background-color: $brand;
  margin-right: 0;
  border-right: 1pt solid darken($brand, 10%);
  border-left: 0;
  float: left;
}

.title-bar-btn {
  &:last-child {
    border-right: 0;
  }
}

.title-bar-title {
  /* Contains the title attributes unique to the Title Bar */

}

.peek-mobile-page-contents {
  /* Contains the padding to stop the screens being covered by the title-bar */

}