// Title Bar
.peek-title-bar {
  /* Contains the Title Bar classes */
  background-color: $white;
  display: flex;
  z-index: 1001;
}

.title-bar-btn {
  /* Contains the button attributes unique to the Title Bar */
  color: $white;
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding: 6pt;
  border: 0;
  font-size: 10pt;
  border-radius: 0;
  background-color: $brand;
  margin-right: 0;
  border-right: 1pt solid $brand_compliment;
  border-left: 0;
  float: left;
}

.title-bar-btn {
  &:last-child {
    border-right: 0;
  }
}

.title-bar-title {
  /* Contains the title attributes unique to the Title Bar */
  color: $black;
  text-align: center;
}

.peek-mobile-page-contents {
  /* Contains the padding to stop the screens being covered by the title-bar */

}