// Title Bar
.peek-title-bar {
  /* Contains the Title Bar classes */
  background-color: $white;
}

.title-bar-btn {
  /* Contains the button attributes unique to the Title Bar */
  color: $white;
  cursor: pointer;
  padding: 8px;
  border: 0;
  font-size: $title_bar_font_size;
  border-radius: 0;
  background-color: $brand;
  margin-right: 0;
  border-right: 1.3px solid $brand_compliment;
  border-left: 0;
}

.title-bar-btn {
  &:last-child {
    border-right: 0;
  }
}

.title-bar-title {
  /* Contains the title attributes unique to the Title Bar */
  font-size: $title_bar_font_size;
  color: $black;
  text-align: center;
}

.peek-mobile-page-contents {
  /* Contains the padding to stop the screens being covered by the title-bar */

}