peek-main-footer{
  $section_font_size: 0.8em;
  position: fixed;
  width: 100%;
  bottom: 0px;
  z-index: 999;

  > div{

    background-color: $white;

    @include box-shadow;

    h2{
      font-size :$section_font_size;
      height: $navigation_header_height; //setting height to default header naviation height
      line-height: $navigation_header_height; // line height to bring text in center of header navigation
      overflow: hidden;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }

}
